parameters:
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    level: max
    paths:
        - %currentWorkingDirectory%/src/
    ignoreErrors: